@tailwind base;
@tailwind components;
@tailwind utilities;

#my-container {
  height: 600px;
}

.menu {
  color: white;
}

@media screen and (max-width: 768px) {
    #txt-title {
        font-size: 18px;
        margin-top: 8px;
    }

    .menu {
        height: 30px;
        width: 30px;
        margin-left: 7px;
    }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}