@tailwind base;
@tailwind components;
@tailwind utilities;

#my-container {
  height: 600px;
}

.menu {
  color: white;
}

.long-btn {
  border: solid 2px rgb(14 165 233);
}

.short-btn {
  border: solid 2px rgb(239 68 68);
}

@media screen and (max-width: 768px) {
    #txt-title {
        font-size: 18px;
        margin-top: 8px;
    }

    .menu {
        height: 30px;
        width: 30px;
        margin-left: 7px;
    }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
    #table-trade {
      margin-top: 70px;
      margin-left: -865px;
    }

    #my-container {
      margin-left: 30px;
    }

    .navbar {
      z-index: 1;
      margin-bottom: 200px;
    }
}