@tailwind base;
@tailwind components;
@tailwind utilities;

#my-container {
  height: 600px;
}

.menu {
  color: white;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}